body {
  background: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px
}

.header {
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  height: 60px;
  z-index: 999;
  font-size: 30px;
  position: fixed;
  line-height: 60px;
  background: #3ca4f7;
  padding: 0 30px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
}

.header .title {
  line-height: 60px;
  font-size: 24px;
  margin: 0;
}

.header .title a {
  display: inline-block;
  color: #fff;
}

.content {
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px 50px;
  min-height: 300px;
  margin-bottom: 30px
}
